.breadcrumb-details{
//     justify-content: space-between;
//     display: flex !important;
//     margin: auto;
//     vertical-align: middle !important;
display: flex;
justify-content: space-between;
margin: auto;
}