
<div class="grid grid-cols-12 gap-4 md:gap-6">
  <!-- LEFT -->
  <div class="col-span-12 space-y-12 xl:col-span-12">
    <app-superadmin-metrics [data]="metricsData" />
    <!-- Add chart later -->
  </div>

  <!-- RIGHT -->
  <div class="col-span-12 xl:col-span-12 space-y-12">
    <app-recent-schools 
      [schools]="schools" 
      (refresh)="loadSuperadminData()" 
      (activateTrial)="activateTrial($event)" />
  </div>
</div>
<!-- <div class="grid grid-cols-12 gap-4 md:gap-6">
  
  <div class="col-span-12 space-y-6 xl:col-span-7">
    <div><app-ecommerce-metrics /></div>

    <div><app-monthly-sales-chart /></div>
  </div>

  <div class="col-span-12 xl:col-span-5">
    <app-monthly-target />
  </div>

  <div class="col-span-12">
    <app-statics-chart />
  </div>

  <div class="col-span-12 xl:col-span-5">
    <app-demographic-card />
  </div>

  <div class="col-span-12 xl:col-span-7">
    <app-recent-orders/>
  </div>
</div> -->