.coded-hasmenu {
    position: relative;
    
    .coded-menu-toggle {
      cursor: pointer;
      position: relative;
      
      .coded-arrow {
        float: right;
        transition: transform 0.3s;
        &::before {
          content: '▾';
        }
      }
    }
  
    &.active {
      .coded-arrow {
        transform: rotate(-180deg);
      }
    }
  }
  
  .coded-submenu {
    display: none;
    padding-left: 15px;
    list-style: none;
    
    .coded-hasmenu {
      .coded-submenu {
        padding-left: 25px;
      }
    }
  }