<div class="container-fluid">
  <form [formGroup]="timetableForm" (ngSubmit)="onSubmit()" class="timetable-form mb-4">
    <div class="row">
      <div class="col-md-3 col-6">
        <label>Academic Year:</label>
        <select class="form-control same-size" formControlName="academicYearId">
          <option value="">Select Academic Year</option>
          <option *ngFor="let year of academicYears" [value]="year._id">{{ year.name }}</option>
        </select>
      </div>
      <div class="col-md-3 col-6">
        <label>Class Name:</label>
        <select class="form-control same-size" formControlName="classId">
          <option value="">Select Class</option>
          <option *ngFor="let cls of getClasses()" [value]="cls._id">{{ cls.name }}</option>
        </select>
      </div>
      <div class="col-md-3 col-6">
        <label>Subject:</label>
        <select class="form-control same-size" formControlName="subjectId">
          <option value="">Select Subject</option>
          <option *ngFor="let sub of getSubjects()" [value]="sub.subjectId">{{ sub.subjectName }}</option>
        </select>
      </div>
      <div class="col-md-3 col-6">
        <label>Teacher:</label>
        <select class="form-control same-size" formControlName="teacherId">
          <option value="">Select Teacher</option>
          <option *ngFor="let teach of filteredTeachers" [value]="teach.teacherId">{{ teach.teacherName }}</option>
        </select>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-3 col-6">
        <label>Day:</label>
        <select class="form-control same-size" formControlName="day">
          <option value="">Select Day</option>
          <option *ngFor="let day of days" [value]="day">{{ day }}</option>
        </select>
      </div>
      <div class="col-md-3 col-6">
        <label>Start Time:</label>
        <input type="time" class="form-control same-size" formControlName="startTime" required />
      </div>
      <div class="col-md-3 col-6">
        <label>End Time:</label>
        <input type="time" class="form-control same-size" formControlName="endTime" required />
      </div>
      <div class="col-md-3 col-6">
        <label>Room:</label>
        <input type="text" class="form-control same-size" formControlName="room" required />
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-12 col-12 d-flex justify-content-end">
        <button type="submit" class="btn btn-primary" [disabled]="timetableForm.invalid">
          ➕ Add Timetable
        </button>
      </div>
    </div>
  </form>

  <hr />

  <h3>📅 Timetable Grid</h3>
  <div *ngIf="!selectedClassId" class="alert alert-info">
    Please select a class to view the timetable.
  </div>
  <div *ngIf="selectedClassId && timetableGrid.length > 0" class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Day</th>
          <th *ngFor="let slot of dynamicTimeSlots">{{ slot.start }} - {{ slot.end }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let day of days; let i = index">
          <td>{{ day }}</td>
          <td *ngFor="let slot of timetableGrid[i]; let j = index">
            <div *ngIf="slot">
              <strong>{{ slot.subject }}</strong><br>
              {{ slot.teacher }}<br>
              Room: {{ slot.room }}<br>
              <button class="btn btn-danger btn-sm mt-1" (click)="deleteTimetable(slot.id)">
                ❌ Delete
              </button>
            </div>
            <div *ngIf="!slot">-</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>