<div class="container-fluid" style="margin-top: 10px;">
  <div class="row">
    <div class="col-12">
      <!-- Filters and Search -->
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <button class="btn btn-sm btn-material btn-primary" (click)="createStudent()"><i class="fa fa-plus" aria-hidden="true"></i>Create</button>
          <button 
            class="btn btn-sm btn-material btn-secondary" 
            [disabled]="selectedStudents.length !== 1"
            (click)="onUpdateStudent()">
            <i class="fa fa-pencil" aria-hidden="true"></i>Update
          </button>
          <button 
            class="btn btn-sm btn-material btn-danger" 
            [disabled]="selectedStudents.length === 0"
            (click)="onDeleteStudents()">
            <i class="fa fa-trash" aria-hidden="true"></i>Delete
          </button>
          <button class="btn btn-sm btn-material btn-success" (click)="downloadExcel()"><i class="fa fa-download" aria-hidden="true"></i>Download</button>
        </div>
        
        <!-- Right Side: Search Field -->
        <div class="search-field">
          <input 
            type="text" 
            class="form-control form-control-sm" 
            placeholder="Search by name or admission no" 
            [(ngModel)]="searchQuery" 
            (keyup.enter)="onSearch()"
            style="width: 170px;">
        </div>
        
        <!-- Left Side: Filters and Search Button -->
        <div class="filters d-flex align-items-center">
          <select 
            class="form-control form-control-sm me-2" 
            [(ngModel)]="selectedClass" 
            (change)="onFilterChange()"
            style="width: 130px;">
            <option value="">All Classes</option>
            <option *ngFor="let classItem of classes" [value]="classItem._id">{{ classItem.name }}</option>
          </select>

          <select 
            class="form-control form-control-sm me-2" 
            [(ngModel)]="selectedSession" 
            (change)="onFilterChange()"
            style="width: 130px;">
            <option value="">All Sessions</option>
            <option *ngFor="let year of academicYears" [value]="year._id">{{ year.name }}</option>
          </select>
          <button class="btn btn-sm btn-material btn-primary" (click)="onSearch()">
            <i class="fa fa-filter" aria-hidden="true" style="font-size: 10px;"></i>Filter
          </button>
        </div>
      </div>

      <!-- Student Table -->
      <div class="table-container">
        <table class="professional-table table-striped table-sm">
          <thead>
            <tr>
              <th>
                <input 
                  type="checkbox" 
                  [checked]="areAllSelected()"
                  [indeterminate]="areSomeSelected()"
                  (change)="updateAllSelection($event)">
              </th>
              <th>#</th>
              <th>Name</th>
              <th>Admission No</th>
              <th>Class</th>
              <th>Contact</th>
              <th>Gender</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of students; let i = index">
              <td>
                <input 
                  type="checkbox"
                  [checked]="student.selected"
                  (change)="toggleStudentSelection(student, $event)">
              </td>
              <td>
                <div ngbDropdown>
                  <button class="btn btn-link btn-sm" id="dropdownButton{{i}}" ngbDropdownToggle>
                    {{ (currentPage - 1) * pageSize + i + 1 }}
                  </button>
                  <div ngbDropdownMenu>
                    <button ngbDropdownItem (click)="openStudentDetails(student, studentDetailsModal)">Student Details</button>
                    <!-- <button ngbDropdownItem (click)="onUpdateStudent(student._id)">Update</button> -->
                    <button ngbDropdownItem (click)="createPortal(student._id, 'student')">Student Portal</button>
                    <button ngbDropdownItem (click)="createPortal(student._id, 'parent')">Parent Portal</button>
                  </div>
                </div>
              </td>
              <td class="profile-cell">
                
                <div class="profile-wrapper">
                  <img
                    [src]="student.profileImage ? getImageUrl(student.profileImage) : 'assets/avtart-new.png'"
                    alt="{{ student.name }} profile"
                    class="profile-avatar"
                    crossorigin="anonymous"
                    (error)="onImageError($event)"
                  >
                  <span class="student-name">{{ student.name }}</span>
                </div>
              </td>
              <td style="white-space: nowrap;">{{ student.admissionNo }}</td>
              <td>{{ student.classId?.name || 'N/A' }}</td>
              <td>
                <div>{{ student.phone }}</div>
              </td>
              <td>{{ student.gender }}</td>
              <td>{{ student.status }}</td>
            </tr>
            <tr *ngIf="students.length === 0">
              <td colspan="8" style="text-align: center; font-family: 'Poppins', sans-serif; font-weight: 600;">
                No Students Available
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <!-- Pagination Component -->
      <app-pagination
        [currentPage]="currentPage"
        [pageSize]="pageSize"
        [totalItems]="totalItems"
        [pageSizeOptions]="pageSizeOptions"
        (pageChange)="onPageChange($event)">
      </app-pagination>
    </div>

    <ng-template #studentDetailsModal let-modal>
      <div class="modal-header">
        <h5 class="modal-title">Student Details</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <img *ngIf="selectedStudent?.profileImage"
               [src]="selectedStudent.profileImage ? getImageUrl(selectedStudent.profileImage):  'assets/avtart-new.png'"
               alt="{{ selectedStudent?.name }}"
               (error)="onImageError($event)"
               class="circle-img">
          <div *ngIf="!selectedStudent?.profileImage" class="avatar-placeholder">
            {{ getInitials(selectedStudent?.name || '') }}
          </div>
          
        </div>

        <h6>Personal Details</h6>
        <p><b>Name</b> {{ selectedStudent?.name }}</p>
        <p><b>DOB </b> {{ selectedStudent?.dateOfBirth | date:'dd/MM/yyyy' }}</p>
        <p><b>Admission No</b> {{ selectedStudent?.admissionNo }}</p>
        <p><b>Roll No</b> {{ selectedStudent?.rollNo || '-' }}</p>
        <p><b>Gender</b> {{ selectedStudent?.gender }}</p>
        <p><b>Address</b> {{ selectedStudent?.address }}</p>

        <h6>Parents</h6>
        <p><b>Father</b> {{ selectedStudent?.parents?.fatherName }} - {{ selectedStudent?.parents?.fatherPhone }}</p>
        <p><b>Mother</b> {{ selectedStudent?.parents?.motherName }} - {{ selectedStudent?.parents?.motherPhone }}</p>

        <h6>Student Portal Details</h6>
        <p><b>UserName</b> {{ selectedStudent?.portalUsername || '-' }}</p>
        <p><b>Password</b> {{ selectedStudent?.portalPassword || '-' }}</p>
      </div>
    </ng-template>
  </div>
</div>